﻿@model SimpleEnglishLearning_2.Models.SubjectDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>SubjectDetail</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Unit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Unit)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UnitTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UnitTitle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Introduction)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Introduction)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.Raw(Model.Content)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfileId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfileId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Subject.SubjectName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject.SubjectName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
