﻿@model _Blog_11.Models.Comment

<div class="display-field">
    Cách đây: @Html.DisplayFor(model => model.Gio) giờ
    @Html.DisplayFor(model =>model.LastTime) phút
    
    Ngày tạo: @Html.DisplayFor(model=>model.DateCreated)
</div>

<div class="display-field">
    @Html.DisplayFor(model => model.Body)
</div>

<br/>
