﻿@model SimpleEnglishLearning_2.Models.QuestionDetail

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>QuestionDetail</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuestionNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuestionNumber)
            @Html.ValidationMessageFor(model => model.QuestionNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuestionTitle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuestionTitle)
            @Html.ValidationMessageFor(model => model.QuestionTitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AnswerKey)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AnswerKey)
            @Html.ValidationMessageFor(model => model.AnswerKey)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.QuestionBankId, "QuestionBank")
        </div>
        <div class="editor-field">
            @Html.DropDownList("QuestionBankId", String.Empty)
            @Html.ValidationMessageFor(model => model.QuestionBankId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
