﻿@model SimpleEnglishLearning_2.Models.QuestionDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>QuestionDetail</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuestionNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuestionTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionTitle)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AnswerKey)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AnswerKey)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.QuestionBank.TestCode)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.QuestionBank.TestCode)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
