﻿@model SimpleEnglishLearning_2.Models.TestResultDetail

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TestResultDetail</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.QuestionNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.QuestionNumber)
            @Html.ValidationMessageFor(model => model.QuestionNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Answer)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Answer)
            @Html.ValidationMessageFor(model => model.Answer)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AnswerKey)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AnswerKey)
            @Html.ValidationMessageFor(model => model.AnswerKey)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TestResultId, "TestResult")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TestResultId", String.Empty)
            @Html.ValidationMessageFor(model => model.TestResultId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
