﻿@model SimpleEnglishLearning_2.Models.ExerciseAnswerDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ExerciseAnswerDetail</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AnswerDetailNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AnswerDetailNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.AnswerDetail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AnswerDetail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ExerciseDetail.QuestionTitle)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ExerciseDetail.QuestionTitle)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
