﻿@model SimpleEnglishLearning_2.Models.ExerciseAnswerDetail

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>ExerciseAnswerDetail</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.AnswerDetailNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AnswerDetailNumber)
            @Html.ValidationMessageFor(model => model.AnswerDetailNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AnswerDetail)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AnswerDetail)
            @Html.ValidationMessageFor(model => model.AnswerDetail)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ExerciseDetailId, "ExerciseDetail")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ExerciseDetailId", String.Empty)
            @Html.ValidationMessageFor(model => model.ExerciseDetailId)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
