﻿@model _Blog_11.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Body)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Body)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DateCreated)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UserProfile.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserProfile.UserName)
    </div>
</fieldset>

<h3>Tag</h3>
<fieldset>
    <legend>
        Tags
    </legend>

    @foreach (var n in Model.Tags)
    {
        @Html.ActionLink(n.Content,"XemPost_Tag/" + n.ID , "Post")
    }
</fieldset>


<h3>Add Comment</h3>
@Html.Partial("_addComment", new _Blog_11.Models.Comment(), ViewData)

<h2>Comment</h2>
<fieldset>
    <legend>Comment</legend>
    @foreach (var comment in Model.Comments.OrderByDescending(x=>x.DateCreated).Take(10))
    {
        <div class="display-field ">
            Cach day: @Html.DisplayFor(x => comment.LastTime)
            Ngay tao: @Html.DisplayFor(x => comment.DateCreated)
        </div>
        
        <div class="display-field ">
            @Html.DisplayFor(x =>comment.Body)
        </div>
    }
</fieldset>


<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
